In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('food_ghg.csv')

In [3]:
df.head()

,Foods,Details of the selected food and source of price data (ordered by increasing price per 100g in each category),Emissions – (kg CO2e/ 100g)*,Price ($) per 100g,SD – Price ($) per 100g,Total wastage % (UK data)**,SD – Total wastage %
0,Fruit and vegetables,NaN,NaN,NaN,NaN,NaN,NaN
1,Potatoes,[Food Price Index (FPI) 2011] uses supermarket...,0.04,0.17,0.04,45.0,1.42
2,Cabbage,[FPI 2011] uses supermarket and greengrocer (f...,0.07,0.19,0.08,46.0,1.98
3,Carrots,[FPI 2011] uses supermarket and greengrocer (f...,0.07,0.22,0.03,46.0,1.86
4,Canned vegetables -tomatoes,[Countdown – online],0.45,0.24,0.01,14.0,1.18

First I will rename columns and drop unnecessary ones

In [4]:
df = df.drop(['Details of the selected food and source of price data (ordered by increasing price per 100g in each category)','Price ($) per 100g','SD – Price ($) per 100g','SD – Price ($) per 100g','Total wastage % (UK data)**','SD – Total wastage %'], axis=1)
df.head()

                          Foods  Emissions – (kg CO2e/ 100g)*
0          Fruit and vegetables                           NaN
1                     Potatoes                           0.04
2                      Cabbage                           0.07
3                      Carrots                           0.07
4  Canned vegetables -tomatoes                           0.45

In [5]:
df = df.rename(columns={"Emissions – (kg CO2e/ 100g)*":'Emissions'})
df.head()

                          Foods  Emissions
0          Fruit and vegetables        NaN
1                     Potatoes        0.04
2                      Cabbage        0.07
3                      Carrots        0.07
4  Canned vegetables -tomatoes        0.45

Now, there are some null values that has to be deleted. These show the categories on original data but we can't have them here.

In [6]:
df.loc[df['Emissions'].isnull()]

                                                Foods  Emissions
0                                Fruit and vegetables        NaN
23                                 Cereals and grains        NaN
37                             Pulses, seeds and nuts        NaN
44                                      Fish and meat        NaN
60                                     Dairy products        NaN
67  Other foods (including foods to improve fit wi...        NaN

In [7]:
df = df.drop(df.index[[0,23,37,44,60,67]])

In [8]:
df.head()

                          Foods  Emissions
1                     Potatoes        0.04
2                      Cabbage        0.07
3                      Carrots        0.07
4  Canned vegetables -tomatoes        0.45
5               Chinese cabbage       0.07

In [9]:
df.loc[df['Emissions'].isnull()]

Empty DataFrame
Columns: [Foods, Emissions]
Index: []

No missing values now, as expected.

In [10]:
df = df.reset_index(drop=True)
df.head()

                          Foods  Emissions
0                     Potatoes        0.04
1                      Cabbage        0.07
2                      Carrots        0.07
3  Canned vegetables -tomatoes        0.45
4               Chinese cabbage       0.07

There is another source, however it only has a handful of entries that is helful to us mixed with other information irrelevant to the project. Therefore it is easier to create df manually and then append it to our main dataframe

In [11]:
extra = {'Foods': ['Brassicas','Berries','Citrus','Cane Sugar','Beet Sugar','Coffee_15g','Tea_15g','Beer_10ml','Wine_10ml','Tofu','Beef','Lamb','Fish_farmed','Pork','Chicken','Beans'],
        'Emissions': [0.05,0.15,0.04,0.32,0.18,0.4,0.04,0.24,0.14,0.08,10.3,5.76,1.31,2.34,1.7,0.05]
        }

In [12]:
df2 = pd.DataFrame(extra, columns = ['Foods', 'Emissions'])

In [13]:
df2

          Foods  Emissions
0     Brassicas       0.05
1       Berries       0.15
2        Citrus       0.04
3    Cane Sugar       0.32
4    Beet Sugar       0.18
5    Coffee_15g       0.40
6       Tea_15g       0.04
7     Beer_10ml       0.24
8     Wine_10ml       0.14
9          Tofu       0.08
10         Beef      10.30
11         Lamb       5.76
12  Fish_farmed       1.31
13         Pork       2.34
14      Chicken       1.70
15        Beans       0.05

In [14]:
df = df.append(df2, ignore_index=True)

In [15]:
df.tail()

          Foods  Emissions
87         Lamb       5.76
88  Fish_farmed       1.31
89         Pork       2.34
90      Chicken       1.70
91        Beans       0.05

In [16]:
df.to_csv('merged_cleaned.csv') #merged and cleaned final dataset